@charset "UTF-8";

body {
    margin: 0px;
    background-image: linear-gradient(to bottom, #545E75, #304D6D);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: black url('../imagens/fundo-header.jpg') center center no-repeat scroll;
    background-size: cover;
}

.logo {
    text-align: center;
}

nav {
    background-image: linear-gradient(to top, #0BC6E3, #0bc6e3a2);
    padding: 20px 6px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 5px black;
}

nav > a {
    padding: 20px 20px;
    margin: 5px;
    color: white;
    text-decoration: none;
}

nav > a:hover{
    text-decoration: underline;
    background-color: #0a7b8c;
    border-radius: 10px;
    transition-duration: .5s;
}

main {
    background-color: white;
    margin: auto;
    padding: 10px 25px 25px 25px;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    text-align: justify;
    box-shadow: 1px 1px 5px black;
    border-radius: 0px 0px 10px 10px;
}

p {
    text-indent: 30px;
}

h1{
    color: #dcc172;
    font-size: 30px;
    font-weight: bolder;
}

.videos{
    text-align: center;
}

.videos > iframe {
    padding: 5px 5px;
    height: 30vh;
    width: 45%;
}

.videos-responsivo{
    display: none;
    text-align: center;
}

.videos-responsivo > iframe {
    padding: 5px 5px;
    height: 45vh;
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 40px 0px 0px 0px;
    text-align: center;
}

footer > p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer > p > a:hover{
    text-decoration: underline;
}

.imagem {
    text-align: center;
}

.imagem > img {
    padding: 5px 5px;
    height: 30vh;
    width: 45%;
}

.videos{
    text-align: center;
}

@media (max-width: 667px)
{
    
    .videos > iframe {
        padding: 5px 5px;
        height: 45vh;
        width: 100%;
    }

    nav{
        text-align: center;
    }

    nav > a{
        padding: 20px 6px;
    }

}

@media (min-width: 667px)
{
    
    .videos > iframe {
        padding: 5px 5px;
        height: 30vh;
        width: 45%;
    }

}

@media (max-width: 415px)
{
    
    body{
        width: 100%;
    }

    .videos > iframe {
        padding: 5px 5px;
        height: 25vh;
        width: 100%;
    }

}